@import './keyframes.scss';

.attribute-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: $white;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  text-transform: lowercase;
}


.default-header {
  border-bottom: $border-1;
}

.attribute-header img {
  position: absolute;
  height: 35px;
  top: 7px;
}

.zoom-icon {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: -35px;
  right: 10px;
  cursor: pointer;
}

.zoom-btn {
  position: absolute;
  bottom: -65px;
  right: 20px;
  cursor: pointer;
}

.attribute-header h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px;
  letter-spacing: 1.3px;
}

.header-container:hover {
  opacity: .8;
  color: $main-purp;
}


.attribute-header {
  display: flex;
  justify-content: center;
}



.header-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  box-sizing: border-box;
  text-transform: lowercase;
  cursor: pointer;
}

.header-container.active {
  border-bottom: 3px solid $main-purp;
  padding-bottom: 0px;
}

.header-container {
  padding-bottom: 2px;
  border-bottom: $border-1;
}