h2, h1 {
  margin: 0;
}

fieldset {
  border: none;
}

iframe {
  border: none;
}

.configurator-root {
  position: relative;
  width: 100%;
  display: flex;
  height: inherit;
  border: 1px solid rgb(101, 121, 101);
}

.configurator-root * {
  text-transform: uppercase;
}

.iframe-container {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.iframe-container:hover {
  cursor: grab;
}

.iframe-container.grabbing {
  cursor: grabbing;
}


canvas:focus {
  /* outline: thick double rgb(20, 90, 20); */
  outline: none;
}



#api-frame {
  flex-grow: 1;
}


@media (max-width: 750px) {
  #root {
    height: 90%;
    overflow: hidden;
  }

  .configurator-root {
    height: 100%;
    flex-direction: column;
    border: none;
  }

  .iframe-container {
    width: 100%;
  }

  
}

@media (max-width: 320px) {
  .selector .sel-attr-title, .selector .attr-label, #message-display {
    font-size: 8px;
  }

  .major-img {
    height: 30px;
  }

  .option-tile .material-icon {
    height: 35px;
    width: 35px;
  }
}

.line-item-property-field input {
	margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #176717b3;
  font-style: normal;
  width: 100%;
  color: white;
  text-transform: none;
}

.line-item-property-field input:focus {
  outline-color: rgb(27, 116, 27);
}

.btn--add-to-cart {
  margin: 0;
}

.shopify-payment-button {
  margin-right: 0px;
  cursor: pointer;
  display: none;
}

.shopify-payment-button:hover {
  color: white;
}

.product-single__add-to-cart {
  display: flex;
}

.loading-overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar-container {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-bar-container h2 {
  color: white;
  font-size: 18px;
}

.loading-bar-total {
  width: 250px;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background: rgb(110, 110, 110);
  position: relative;
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.loading-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background: rgb(52, 122, 52);
  width: 50%;
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
}