@keyframes slidedown {
  from {
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    transform: translateY(250%);
    visibility: hidden;
  }
}

@keyframes slideup {
  from {
    transform: translateY(250%);
    visibility: hidden;
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}

@mixin slidedown {
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: slidedown;
}

@mixin slideup {
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: slideup;
}


$green1: rgb(15, 15, 15);
$green2: rgb(35, 35, 35);
$green3: rgb(45, 45, 45);
$green4: rgb(150, 150, 150);

$border-1: 1px solid rgb(100, 100, 100);

$tile-size: 88px;
$tile-shadow: 2px 2px 6px -4px rgba(0,0,0,0.75);