@import './keyframes.scss';

.selector {
  margin: 0px 0;
  background: transparent;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.option-list, .version-list .top-container {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.option-tile, .version-tile {
  -webkit-box-shadow: $tile-shadow;
  -moz-box-shadow: $tile-shadow;
  box-shadow: $tile-shadow;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: background .15s ease-in;
  margin: 8px;
  padding: 10px;
  height: $tile-size;
  width: $tile-size;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $green1;
}

.selector.not-mobile {
  .option-tile:hover,
  .version-tile:hover,
  .nav-btn-container:hover {
    cursor: pointer;
  }
}

.tile-img {
  height: 35px;
  padding: 10px;
  box-sizing: content-box;
}

// .version-tile img {
//   height: 30px;
//   padding: 10px;
//   box-sizing: content-box;
// }

// .version-tile {
//   height: $tile-size;
//   width: $tile-size;
//   background: $green1;
//   margin: 10px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   border-radius: 10px;
//   padding: 5px;
//   overflow: hidden;
// }

.material-icon {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(256, 256, 256, .5);
  border-radius: 50%;
  margin: 10px;
}

.selector .sel-attr-title.sel-material {
  font-size: 8px;
  letter-spacing: .2px;
}

.version-list {
  flex-direction: column;
  width: 100%;
  height: unset;
  position: absolute;
  bottom: 0;

  .top-container {
    display: flex;
    justify-content: center;
  }

  .header {
    display: none;
  }
}

.selector .sel-attr-title, #message-display {
  font-size: 10px;
}

#custom-message {
  width: 170px;
}


.option-tile:hover, .version-tile:hover {
  background: $green3;
}



.selector .sel-attr-title, #message-display {
  font-size: 10px;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.selector.show-versions {
  .version-list {
    animation-delay: .1s;
    @include slideup;
  }
  
  .option-tile {
    animation-delay: .1s;
    @include slidedown
  }
}

.selector {
  .version-list {
    @include slidedown;
  }

  .option-tile {
    @include slideup;
  }
}

.nav-btn-container {
  background: $green1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  transition: background .15s ease-in;

  div {
    flex-grow: 1;
    padding: 12px 20px;
    border: 1px solid rgb(101, 121, 101);
    display: flex;
    justify-content: center;
  }

  div:first-of-type {
    border-right: none;
  }
  
  div:hover {
    background: $green3;
  }
}

.option-tile input[type="radio"] {
  display: none;
}

.selector .version-tile.active {
  background: $green2;
}

#ProductSelect {
  display: none;
}

.custom-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-grow: 1;
  background: $green1;
}

#custom-message {
  background-color: transparent;
  font-style: normal;
  width: 110px;
  color: white;
  text-transform: none;
  border: 1px solid rgb(20, 90, 20);
  padding: 10px;
}

#custom-message:focus {
  outline: none;
}

#hidden-text {
  display: none;
  background-color: transparent;
  font-style: normal;
  text-transform: none;
  color: white;
  border: none;
  font-weight: 400;
}

#custom-message::placeholder {
  color: white;
}

