@import './keyframes.scss';

.selector {
  margin: 0px 0;
  background: transparent;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.version-list .top-container {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.version-tile {
  -webkit-box-shadow: $tile-shadow;
  -moz-box-shadow: $tile-shadow;
  box-shadow: $tile-shadow;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: background .15s ease-in;
  margin: 4px;
  padding: 10px;
  height: $tile-size;
  width: $tile-size;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $green1;
}

.selector.not-mobile {
  .version-tile:hover,
  .nav-btn-container:hover {
    cursor: pointer;
  }
}

.tile-img {
  height: 40px;
  position: absolute;
  bottom: 30px;
  box-sizing: content-box;
}

.material-icon {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(256, 256, 256, .5);
  border-radius: 50%;
  margin: 5px;
}

.version-list {
  flex-direction: column;
  width: 100%;
  height: unset;
  position: absolute;
  bottom: 0;

  .top-container {
    display: flex;
    justify-content: center;
  }

  .header {
    display: none;
  }
}

.version-tile:hover {
  background: $green3;
}

.selector .sel-attr-title, #message-display {
  font-size: 11px;
  text-align: center;
  width: 100%;
  bottom: 8px;
  position: absolute;
  word-break: break-word;
}

.selector.show-versions {
  .version-list {
    animation-delay: .1s;
    @include slideup;
  }
}

.selector {
  .version-list {
    @include slidedown;
  }
}

.nav-btn-container {
  background: $green1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  letter-spacing: 1px;
  transition: background .15s ease-in;

  div {
    flex-grow: 1;
    padding: 8px;
    border: $border-1;
    display: flex;
    justify-content: center;
  }

  div:nth-of-type(2) {
    border-left: none;
  }
  
  div:hover {
    background: $green3;
  }

  img {
    margin: auto;
    height: 22px;
    width: 22px;
  }
}

.start-btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  div {
    border: 2px solid white;
    border-radius: 30px;
    padding: 12px 25px;
    cursor: pointer;
  }

  div:hover {
    background: $green4;
  }
}

.selector .version-tile.active {
  background: $green2;
}

#ProductSelect {
  display: none;
}

.custom-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-grow: 1;
  background: $green1;
}

#custom-message {
  background-color: transparent;
  font-style: normal;
  width: 200px;
  color: white;
  text-transform: none;
  border: $border-1;
  padding: 10px;
}

#custom-message:focus {
  outline: none;
}

#hidden-text {
  display: none;
  background-color: transparent;
  font-style: normal;
  text-transform: none;
  color: white;
  border: none;
  font-weight: 400;
}

#custom-message::placeholder {
  color: white;
}

