@import './keyframes.scss';

.selector {
  margin: 0px 0;
  width: 150px;
  background: transparent;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

.option-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.version-list {
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 600px;
  box-sizing: border-box;
}

.option-tile, .version-tile {
  -webkit-box-shadow: $tile-shadow;
  -moz-box-shadow: $tile-shadow;
  box-shadow: $tile-shadow;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: background .15s ease-in;
}

.option-tile {
  margin: 8px;
  padding: 10px;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $green1;
}

.option-tile:last-of-type {
  border-bottom: none;
}

.selector.not-mobile {
  .option-tile:hover,
  .version-tile:hover,
  .version-back-btn:hover {
    cursor: pointer;
  }
}

.selector .attr-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: lighter;
  font-size: 12px;
  text-align: right;
}

.selector .sel-attr-title, #message-display {
  font-size: 16px;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.selector.show-versions {
  .version-list {
    animation-delay: .1s;
    @include slideup;
  }
  
  .option-tile {
    animation-delay: .1s;
    @include slidedown
  }
}

.selector {
  .version-list {
    @include slidedown;
  }

  .option-tile {
    @include slideup;
  }
}

.version-list {
  .header {
    text-align: center;
    padding: 15px;
    font-weight: 100;
    font-size: 16px;
  }

  .option-tile {
    border-bottom: none;
  }
}

.version-back-btn {
  border-top: 1px solid rgb(101, 121, 101);
  background: $green1;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  transition: background .15s ease-in;
}

.option-tile input[type="radio"] {
  display: none;
}



.selector .version-tile.active {
  background: $green2;
}

#ProductSelect {
  display: none;
}

.custom-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-grow: 1;
  background: $green1;
}

#custom-message {
  background-color: transparent;
  font-style: normal;
  width: 110px;
  color: white;
  text-transform: none;
  border: 1px solid rgb(20, 90, 20);
  padding: 10px;
}

#custom-message:focus {
  /* outline: thick double rgb(20, 90, 20); */
  outline: none;
}

#hidden-text {
  display: none;
  background-color: transparent;
  font-style: normal;
  text-transform: none;
  color: white;
  border: none;
  font-weight: 400;
}

#custom-message::placeholder {
  color: white;
}

.option-tile.small #message-display {
  font-size: 11px;
}

.major-img {
  height: 35px;
  padding: 10px;
  box-sizing: content-box;
}

.version-tile img {
  height: 30px;
  padding: 10px;
  box-sizing: content-box;
}

.version-tile {
  height: $tile-size;
  width: $tile-size;
  background: $green1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}

.material-icon {
  height: 34px;
  width: 34px;
  border: 1px solid rgba(256, 256, 256, .5);
  border-radius: 50%;
  margin: 10px;
}

.sel-attr-title.sel-material {
  font-size: 13px;
}

// @media (max-width: 750px) {
  .selector {
    width: 100%;
  }

  .option-list {  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .option-tile {
    height: $tile-size;
    width: $tile-size;
  }

  .option-tile {
    border-bottom: none;
  }

  .version-list {
    flex-direction: column;
    width: 100%;
    height: unset;
    position: absolute;
    bottom: 0;

    .top-container {
      display: flex;
      justify-content: center;
    }

    .header {
      display: none;
    }
  }

  .selector .sel-attr-title, .selector .attr-label, #message-display {
    font-size: 10px;
  }

  #custom-message {
    width: 170px;
  }
// }

.option-tile:hover, .version-tile:hover {
  background: $green3;
}

.version-back-btn:hover {
  background: $green3;
}

// .option-tile:after, .version-tile:after {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   pointer-events: none;
//   background-image: radial-gradient(circle, #fff 10%, transparent 10%);
//   background-repeat: no-repeat;
//   background-position: 50%;
//   transform: scale(10, 10);
//   opacity: 0;
//   transition: transform .2s, opacity 1s;
// }

// .option-tile:active:after, .version-tile:active:after {
//   transform: scale(0, 0);
//   opacity: .1;
//   transition: 0s;
// }