h2, h1 {
  margin: 0;
}


fieldset {
  border: none;
}

iframe {
  border: none;
}

.configurator-root {
  width: 100%;
  display: flex;
  height: inherit;
}

.configurator-root * {
  text-transform: uppercase;
}

.iframe-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  min-height: 600px;
}

.selector {
  margin: 0px 0;
  width: 150px;
  background: rgba(23, 103, 23);
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(101, 121, 101);
  box-sizing: border-box;
}

.selector .option-tile {
  padding: 15px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(101, 121, 101);
}

.selector .option-tile:hover {
  background: rgb(20, 90, 20);
}

.selector .attr-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: lighter;
  font-size: 12px;
}

.selector .sel-attr-title {
  font-size: 16px;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.selector .verions-options-list {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 150px;
  background: rgb(52, 122, 52);
  border-left: 1px solid rgb(101, 121, 101);
  width: 200px;
  height: 600px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all 1s;
}

.selector .verions-options-list.closed {
  width: 0px;
  transition: all 1s;
}

.verions-options-list .header {
  text-align: center;
  padding: 15px;
  font-weight: 100;
  font-size: 16px;
}

.verions-options-list .option-tile {
  border-bottom: none;
}


.selector .verions-options-list .option-tile.active {
  background: rgb(81, 141, 81);
}

.verions-options-list .option-tile:hover {
  background: rgb(81, 141, 81);
}


.selector .option-tile.active {
  background: rgb(20, 90, 20);
}

#ProductSelect {
  display: none;
}

.custom-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 15px;
}

#custom-message {
  background-color: transparent;
  font-style: normal;
  width: 100%;
  color: white;
  text-transform: none;
  border: 1px solid rgb(20, 90, 20);
  padding: 10px;
}

#custom-message:focus {
  /* outline: thick double rgb(20, 90, 20); */
  outline: none;
}

#custom-message::placeholder {
  color: white;
}

.bottom-strip {
  bottom: -2px;
}

.top-strip {
  top: -2px;
}

.bottom-strip, .top-strip {
  position: absolute;
  right: 0px;
  left: -5px;
  height: 47px;
  background: black;
}

#api-frame {
  flex-grow: 1;
}

.field-set {
  display: flex;
  min-inline-size: unset;
  padding: 0;
  margin: 0;
  width: 100%;
}

.opt-title {
  display: none;
}

.option-set.radio input {
  height: 0;
  display: none;
  width: 0;
}

.option-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.option-set .options__option {
  transition: all .2s ease-out;
  border: 1px solid rgba(23, 103, 23, .7);
  font-style: normal;
  border-right: 0px;
}
.option-set .options__option:last-of-type {
  border-right: 1px solid #176717b3; 
}

.option-set .options__option.checked {
  background: rgb(23, 103, 23);
}

.option-set .options__option:hover {
  background: rgba(64, 255, 64, 0.3);
}

.option-set .options__option.checked:hover {
  background: rgb(27, 116, 27);
}

.option-set .options__option {
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}

.option-set h2 {
  margin-bottom: 10px;
  letter-spacing: 1.2px;
  font-size: 18px;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 275px;
  padding-left: 45px;
  padding-right: 25px;
}

.opt-title {
  text-align: center;
}

.price {
  text-align: center;
}

@media (max-width: 950px) {
  .configurator-root {
    flex-direction: column;
  }

  .iframe-container {
    width: 100%;
  }

  .option-container {
    width: 100%;
  }
}

.line-item-property-field input {
	margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #176717b3;
  font-style: normal;
  width: 100%;
  color: white;
  text-transform: none;
}

.line-item-property-field input:focus {
  outline-color: rgb(27, 116, 27);
}

.btn--add-to-cart {
  margin: 0;
}

.shopify-payment-button {
  margin-right: 0px;
  cursor: pointer;
  display: none;
}

.shopify-payment-button:hover {
  color: white;
}

.product-single__add-to-cart {
  display: flex;
}